body{
    background: url(imagens/bg-desktop.svg) rgb(117, 56, 167) no-repeat;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
}
header> img{
    margin: 0;
    padding: 0;
    border: 0;
    margin-top: -25px;
    margin-left: 35px;
    height: 150px;
    width: 150px;
}
article{
    display: inline-block;
}
section> div{
    display: inline-block;
}
section> div > img{
    height: 450px;
    width: 600px;
    margin: 0;
    padding: 0;
    border: 0;
    margin-top: -25px;
    margin-left: 35px;
}
section> div> article>h1{
    font-size: 2em;
    width: 350px;
    float: right;
    margin-top: -400px;
    margin-left: 100px;
    text-align: left;
}
.clear{
    clear: both;
}
section> div> article > p{
    float: right;
    width: 350px;
    margin-top: -300px;
    margin-left: 100px;
    
}
section> div> article > input{
    float: right;
    width: 150px;
    height: 50px;
    margin-top: -150px;
    border: none;
    border-radius: 50px 50px 50px 50px;
    background: aliceblue;
    color: rgb(117, 56, 167);
    font-weight: bolder;
    box-shadow: 5px 2px 2px rgba(0, 0, 0, 0.555);
}
section> div> article > input:hover{
    color: aliceblue;
    background-color: rgb(226, 132, 218);
}
footer{
    float: right;
    margin-top: 25px;
    margin-right: 25px;
    
}
.facebook{
    width: 30px;
    height: 30px;
    padding-right: 15px;
}
.instagram{
    width: 30px;
    height: 30px;
    padding-right: 15px;
}
.twitter{
    width: 30px;
    height: 30px;
    padding-right: 15px;
}